body {
  font-family: "Radnika Next Regular";
  font-weight: normal;
  display: block;
  position: static;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: 'museo_sans_rounded700';
  src: url('fontes/gingar/gingar-700-webfont.woff2') format('woff2'),
  url('fontes/gingar/gingar-700-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Radnika Next Regular';
  src: url('/fontes/oiticica/RadnikaNext-Regular.woff2') format('woff2'),
  url('/fontes/oiticica/RadnikaNext-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Navbar */

.w-logo {
  display: inline-block;
  transition: width .4s ease-in-out;
}
.w-logo path {
  fill: #801BB3;
  transition: fill .4s ease-in-out;
}

.logo-mini {
  width: 53px;
  fill: white;
}

.logo-mini path{
  fill: #ffffff;
}

nav {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 0 6%;
  position: fixed;
  top: 0;
  z-index: 9999;
  min-height: 130px;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(128, 27, 179, 0);
  box-shadow: 0 2px 4px rgba(0,0,0, 0);
  color: #2e2e2e;
  transition: min-height .4s ease-in-out, background-color .4s ease-in-out, box-shadow .4s ease-in-out, color .4s ease-in-out;
}

nav ul {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  /* justify-content: space-between; */
}

nav ul li {
  margin: 0 30px;
  padding: 10px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav .btn-contato {
  background-color: #801BB3;
  color: #FFF;
  border-radius: 8px;
  margin-right: 0;
  transition: all .4s ease-in-out;
}

@keyframes jump {
  0%, 100% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(1.05);
  }
}

nav .btn-contato:hover {
  animation: jump .3s 1;
}

.nav-scrolled{
  min-height: 60px;
  background-color: rgba(128, 27, 179, 1);
  box-shadow: 0 2px 4px rgba(79, 13, 115, 0.3);
  color: white;
}

.nav-scrolled .btn-contato {
  background-color: #FFF;
  color: #801BB3;
}

/* Conteúdo geral */

.sec-hero {
  display: flex;
  align-items: center;
  margin: 0 6%;
  overflow: visible;
  z-index: 9998;
}

.hero-txt {
  padding-top: 80px;
  flex: 1;
  /* max-width: 415px; */
}

.hero-txt h1 {
  line-height: 1.2em;
  margin-bottom: 30px;
}

.hero-txt p {
  color: #666666;
  font-size: 1.4em;
  line-height: 1.4em;
}

.hero-img {
  flex: 1;
  position: relative;
  overflow: visible;
}

.hero-illustration {
  transform: scale(1.2) translateX(-8%);
}

.divider-container {
  position: relative;
}

.hero-divider {
  z-index: -10;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.hero-divider polygon {
  fill: #F0F0F0;
}

.sec-solucoes{
  display: block;
  position: static;
  background-color: #F0F0F0;
  padding-top: 80px;
}

.sec-solucoes h2 {
  text-align: center;
  font-size: 2.2em;
  font-weight: normal;
  color: #2e2e2e;
  margin-bottom: 95px;
}

.sec-solucoes .grid-container {
  margin: 0 6%;
  padding-bottom: 100px;
  justify-content: space-between;
}

.grid-item {
  box-sizing: border-box;
  flex-basis: 31%;
}

.grid-item h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: .16em;
  font-size: 1.1em;
  line-height: 1.4em;
  color: #2e2e2e;
  margin-bottom: 60px;
  transition: color .15s ease-in-out;
}

.grid-item p {
  transition: color .15s ease-in-out;
}

.sec-solucoes .grid-container .grid-item {
  position: relative;
  padding: 75px 35px;
  background-color: white;
  border-radius: 8px;
  border: 4px solid rgba(128, 27, 179, 0);
  box-shadow: 0 2px 4px rgba(0,0,0, .3);
  transition: border .15s ease-in-out, box-shadow .15s ease-in-out;
}

.sec-solucoes .grid-container .grid-item:hover {
  border: 4px solid rgba(128, 27, 179, 1);
  box-shadow: 0 2px 4px rgba(128, 27, 179, .4);
}

.sec-solucoes .grid-container .grid-item:hover h3{
  color: rgba(128, 27, 179, 1);
}

.sec-solucoes .grid-container .grid-item:hover p{
  color: #2e2e2e;
}

.sec-solucoes p {
  font-weight: normal;
  font-size: 2em;
  color: #666666;
  line-height: 1.5em;
}

.solucoes-ico {
  text-align: center;
  position: absolute;
  top: -41px;
  left: 0;
  right: 0;
}

.solucoes-btn-row {
  display: block;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .1s ease-in-out;
}

.sec-solucoes .grid-container .grid-item:hover .solucoes-btn-row {
  opacity: 1;
  pointer-events: all;
}

.btn-quero {
  font-family: "museo_sans_rounded700";
  font-weight: normal;
  background-color: #801bb3;
  color: white;
  padding: 18px 22px;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: .15em;
}

.btn-quero:hover {
  animation: jump .3s 1;
}

.contato-offset{
  display: block;
  position: absolute;
  height: 60px;
  width: 100%;
  top: -60px;
}

.sec-contato {
  display: block;
  position: relative;
}

.contato-texto h2 {
  text-align: center;
  font-size: 2em;
  font-weight: normal;
  /* margin-bottom: 40px; */
  line-height: 1.25em;
}

.contato-texto p {
  display: none;
  text-align: center;
  font-size: 1.15em;
  font-weight: normal;
  line-height: 1.4em;
}

.contato-dadoseform {
  text-align: center;
  color: #2e2e2e;
  padding: 70px 0 35px 0;
}

.contato-dadoseform h4 {
  font-size: 1.14em;
  color: #801bb3;
  margin-bottom: 8px;
}

.contato-dadoseform p {
  font-size: 1.6em;
  font-weight: normal;
  color: #666666;
  margin: 0 0 20px 0;
}

.contato-col1 {
  position: relative;
  color: white;
  background-color: #801bb3;
  padding: 40px 0;
}

.contato-col2 {
  position: relative;
}

.divisoria-vertical {
  fill: #801bb3;
  width: 50px;
  height: 60px;
  /* overflow: visible; */
  margin: 0 auto;
  position: absolute;
  bottom: -60px;
  left: 0;
  right: 0;
}


.contato-divider {
  display: none;
}

/* responsividade da seção de contato */
@media (min-width: 960px) {

  .hero-img-md {
    display: none;
  }
  .divisoria-vertical {
    display: none;
  }

  .contato-texto p {
    text-align: left;
    margin-top: 20px;
    display: inline-block;
  }

  .contato-texto h2 {
    text-align: left;
    display: inline-block;
    font-size: 2.2em;
  }

  .contato-dadoseform {
    text-align: left;
    color: #2e2e2e;
    padding: 40px 40px 40px 12%;
  }

  .contato-dadoseform p {
    font-size: 1.6em;
    font-weight: normal;
    color: #666666;
  }

  .sec-contato {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }

  .contato-col1 {
    box-sizing: border-box;
    /* float: left; */
    position: relative;
    flex: 2;
    padding: 40px;
  }


  .contato-divider {
    display: block;
    position: absolute;
    right: -275px;
    top: 0;
    height: 100%;
    z-index: -9999;
  }

  .contato-col2 {
    box-sizing: border-box;
    flex: 3;
  }

}

.redes-ico {
  margin-right: 10px;
}

.redes-ico:last-child {
  margin-right: 0;
}

footer {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 6%;
  height: 90px;
  background-color: #2e2e2e;
  color: white;
  text-transform: uppercase;
}


.copyright {
    font-size: 12px;
  }


@media (max-width: 960px) {

  footer {
    display: block;
    box-sizing: content-box;
    padding: 30px 0;
    text-align: center;
    height: auto;
  }

  footer .copyright {
    margin-bottom: 20px;
  }

  footer .logo-full-h {
    max-width: 150px;
  }
}

/* Tipografia */

nav ul li {
  font-size: .95em;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-family: "museo_sans_rounded700";
  font-weight: normal;
}

h1, h2, h3 {
  font-family: "museo_sans_rounded700";
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 3.5em;
  color: #2E2E2E;
}


/* @media screen and (max-width: 900px) {
  [class*="-md"] {
    display: none;
  }
} */


@media (min-width: 1100px) {
  .grid-container {
    display: flex;
  }
}

@media (max-width: 1100px) {
  .sec-solucoes .grid-container {
    padding-bottom: 30px;
  }

  .grid-item {
  display: block;
  max-width: 480px;
  margin: 0 auto 80px auto;
  text-align: center;
  }
}

/* .sec-contato:before {
    content: "";
    height: 130px;
    width: 100%;
    position: absolute;
    top: -130px;
} */

.sec-contato {
  padding: -60px;
}

@media screen and (max-width: 830px) {

  .sec-hero {
    display: block;
    padding-top: 20px;
    position: relative;
  }

  .hero-txt {
    display: block;
    text-align: center;
    padding-top: 0;
    position: relative;
    top: -72px;
  }

  .hero-txt h1 {
    font-size: 3.6rem;
  }

  .hero-txt p {
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-img {
    display: none;
  }

  .hero-img-md {
    text-align: center;
    max-width: 100%;
    display: block;
    position: relative;
    left: -6%;
    margin-top: -50px;
  }

  .hero-img-md svg{
    max-width: 400px;
  }
}


@media screen and (max-width: 420px) {
  nav ul li {
    margin-right: 15px;
  }

  nav {
    min-height: 90px;
  }
}
